<%- include('includes/header') %>

<div class="container py-md-5 container--narrow">
  <%- include('includes/flash') %>

  <div class="d-flex justify-content-between">
    <h2><%= post.title %></h2>
    <% if (post.isVisitorOwner) { %>
    <span id="user-post-interface" class="pt-2">
      <span
        class="mr-2 modalBtn-wrapper"
        title="See who's liked the post"
        data-toggle="tooltip"
        data-placement="top"
        data-trigger="hover"
      >
        <a
          href="#"
          class="text-success"
          id="info-icon"
          data-toggle="modal"
          data-target="#exampleModalLong"
          ><i class="fas fa-info-circle"></i></a
      ></span>
      <a
        href="/post/<%= post._id %>/edit"
        class="text-primary mr-2"
        data-toggle="tooltip"
        data-placement="top"
        title="Edit"
        ><i class="fas fa-edit"></i
      ></a>
      <form
        class="delete-post-form d-inline"
        action="/post/<%= post._id %>/delete"
        method="POST"
      >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button
          class="delete-post-button text-danger"
          data-toggle="tooltip"
          data-placement="top"
          title="Delete"
        >
          <i class="fas fa-trash"></i>
        </button>
      </form>
    </span>
    <% } else { %> <% if (user) { %>
    <span id="visitor-post-interface" class="pt-2">
      <!-- Like Button Section -->
      <% if (!isLiking) { %>
      <form
        class="like-post-form d-inline mr-2"
        action="/post/<%= post._id %>/like"
        method="POST"
      >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button
          class="like-post-button gold"
          data-toggle="tooltip"
          data-placement="top"
          title="Like"
        >
          <i class="fas fa-thumbs-up"></i>
        </button>
      </form>
      <% } else { %>
      <form
        class="unlike-post-form d-inline mr-2"
        action="/post/<%= post._id %>/removeLike"
        method="POST"
      >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button
          class="like-post-button text-danger"
          data-toggle="tooltip"
          data-placement="top"
          title="Unlike"
        >
          <i class="fas fa-thumbs-up"></i>
        </button>
      </form>
      <% } %>
      <span
        class="modalBtn-wrapper"
        title="See who's liked the post"
        data-toggle="tooltip"
        data-placement="top"
        data-trigger="hover"
      >
        <a
          href="#"
          class="text-success"
          id="info-icon"
          data-toggle="modal"
          data-target="#exampleModalLong"
          ><i class="fas fa-info-circle"></i></a
      ></span>
    </span>
    <% } %> <% } %>
  </div>

  <p class="text-muted small mb-4">
    <a href="/profile/<%= post.author.username %>"
      ><img class="avatar-tiny" src="<%= post.author.avatar %>"
    /></a>
    Posted by
    <a href="/profile/<%= post.author.username %>"
      ><%= post.author.username %></a
    >
    on <%= post.createdDate.getDate() %>/<%= post.createdDate.getMonth() + 1
    %>/<%= post.createdDate.getFullYear() %>
  </p>

  <div class="body-content"><%- filterUserHTML(post.body) %></div>
</div>

<%- include('includes/footer') %>
